/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root{
    --page-bg: 
        repeating-linear-gradient(
            0deg,
            #E7E7E7, 
            #E7E7E7 2px, 
            transparent 2px, 
            transparent 4px,    
            transparent 4px
        ),
        repeating-linear-gradient(
            90deg,
            #E7E7E7, 
            #E7E7E7 2px, 
            transparent 2px, 
            transparent 4px,    
            transparent 4px
        ),
        repeating-linear-gradient(
            to bottom,
            white, transparent
        );
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --title-weight: 700;
    --text-weight: 400;
    --accent-color: #000;
    --accent-bg-color: #fff;
    --button-text-color: #fff;
    --heart-color: red;
}